* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}

button{
  border: none;
}

.center{
  text-align: center;
}



/* Header Section */
header {
  background-color: rgb(34, 162, 194);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  color: white;
  width: 100%;
}

header, footer{
  width: 100%;
}

.logo {
  margin: 0 50px;
}

header ul {
  display: flex;
  justify-content: space-between;
}

header li {
  padding: 0 20px;
  transition: 1s scale ease ;
}

header li:hover {
    border-bottom: 1px solid white;

}

nav {
  margin-right: -600px;
}

.inquire {
  padding: 15px 30px;
  margin-right: 100px;
  /* background-color: #186411; */
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 17px;
}

/* End Header Section  */

/* Main Section */
.wrapper,
.wrapper-2 {
  display: flex;
  width: 100%;
}

.main-text,
.main-img {
  flex: 1;
}

.main {
  margin: 30px 20px;
}

.main-text {
  font-size: 60px;
  margin: auto;
  text-align: center;
}

.main-text span {
  color: rgb(34, 162, 194);
}

/* Main Section End */

/* Tour Section Start */

.tours {
  text-align: center;
  margin-top: 50px;
  font-size: 35px;
  /* margin-bottom: 200px; */
}

.tours-title{
    margin-bottom: 50px;
}

.card {
  display: flex;
  font-size: 18px;
  border: 1px solid black;
  max-width: 1100px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 25px;
  max-height: 302px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #b3b3b3;
  box-shadow: 5px 9px 8px -7px rgba(0, 0, 0, 0.589);
  
}

.card img {
    height: 300px;
    border-radius: 25px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
}

.card-title {
  grid-area: c-title;
}
.col-1 {
  grid-area: c-1;
}
.col-2 {
  grid-area: c-2;
}

.info {
  display: grid;
  width: 100%;
  grid-template-areas:
    "c-title c-title "
    "c-1 c-2";
}

.info h2 {
  margin-top: 10px;
}

.info .btn {
  padding: 10px 20px;
  background-color: rgb(34, 162, 194);
  color: white;
  font-size: 16px;
  margin: 20px;
}
/* Tour Section End */

/* Footer Section */

footer{
    width: 100%;
    background-color: #282828;
    color: white;
    display: flex;
    padding: 25px;
}

.know-more, .address{
    flex: 1;
}

.know-more{
    padding: 10px 20px;
}

footer h3{
    margin-bottom: 20px;
}

.social-media{
    margin-right: 20px;
}

.social-media i{
    margin: 0 10px;
}


/* Footer Section End */


@media screen and (max-width: 768px) {
footer{
  display: flex;
  flex-direction: column;
}
}


/* Contact Page */

#contact h2{
  text-align: center;
  margin-top: 30px;
  font-size: 42px;
}

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid  rgb(34, 162, 194);
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #2cda1c; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  width: 100%;
  background: rgb(34, 162, 194);
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#4ec220; }

/* Contact Page Design */




